/*Large screen*/

@media only screen and (min-width: 1500px) {}


@media only screen and (min-width: 992px) {
    
}

@media only screen and (max-width: 1199px) {
    .main_nav_area {
        padding: 10px 0;
    }
}


@media only screen and (max-width: 991px) {

}






/* Tablet Layout waid */

@media only screen and (min-width: 992px) and (max-width: 1024px) {}




/* tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    ul#menu li a {
        font-size: 17px;
        padding: 10px;
    }
    
    .main_nav_area {
        padding: 22px 0;
    }
    
    .call_btn {
        font-size: 18px;
    }
    
    ul#menu li a:after {
        height: 15px;
    }
    .vodeo_wrapper {
        padding: 130px 0;
    }
    
    .title h3 {
        font-size: 25px;
    }
}


@media only screen and (min-width: 768px) {
    .menu_btn{
        display: none;
    }

}






/* Mobile Layout */

@media only screen and (max-width: 767px) {
    .menu_btn {
    position: absolute;
    right: 34px;
    top: 35%;
    font-size: 30px;
    cursor: pointer;
}

    ul#menu li {
        display: block;
    }
    
    ul#menu li a:after {
        content: none;
    }
    
    .main_nav_area {
        display: none;
    }
    
    ul#menu li a {
        padding: 10px 0;
    }
}






/* small scren*/

@media only screen and (max-width: 375px) {}