/*=============
Main css
==============*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #605c5c;
}

p {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #00793a;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

h4 {
    font-size: 18px;
}

img {
    max-width: 100%
}

.owl-carousel {
    padding-top: 10px;
}

/*============
header css
==================*/
.search_cart .dropdown {
    display: inline-block;
}

.dropdown-menu {
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}


/*================
Header css
================*/
.header_area {
    background: #03793d;
    color: #fff;
    margin-bottom: 50px;
}
.main_nav_area {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

ul#menu {
    margin: 0;
    padding-left: 30px;
    list-style: none;
}

ul#menu li {
    display: inline-block;
    position: relative;
}

ul#menu li a {
    display: block;
    font-size: 22px;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 700;
}




/* Blog  
=============================== */
.blog_left_single_item {
    display: flex;
    align-items: center;
}

.post_image img {
    width: 100%;
    height: auto;
}
.blog_left_single_content.para_default h3 {
    margin: 0;
}

.content_blog_a.fix {
    display: flex;
    padding: 15px 0;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    align-items: center;
}

.e_blog_A {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.blog_a_text {
    width: 80%;
    padding-left: 20px;
}

div#respond {
    padding: 30px 0;
}

form#commentform label {
    display: block;
}

input#submit {
    background: #03793d;
    color: #fff;
    border: none;
    padding: 4px 10px;
}

div#comments {
    margin-top: 30px;
}

ul.comment-list {
    list-style: none;
}
.post_thumnnail {
    margin-bottom: 40px;
}
/* share */
.mukto-social {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.mukto-social h5 {
    margin: 0;
    margin-right: 10px;
}

.mukto-social a {
    width: 35px;
    text-align: center;
    height: 35px;
    display: block;
    background: #000;
    line-height: 35px;
    margin: 5px;
    color: #fff;
    border-radius: 50%;
}
/* Footer
==================================== */
div#footer {
    background: #03793d;
    color: #fff;
}

.copyright {
    color: #575f6f;
    padding: 20px;
}

.copyright p {
    margin: 0;
}

.footer_content {
    display: flex;
    align-items: center;
}

.footer_details {
    padding-left: 30px;
}

.footer_details p {
    margin: 0;
}


/*woocomerce arcrive
================*/
.woocommerce div.product form.cart .button,.woocommerce ul.products li.product .button{
    background: #ffd100;
    padding: 6px 19px;
    font-size: 17px;
    color: #000000;
    font-weight: 700;
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid #ffd100;
    transition: .8s;
}
.woocommerce .quantity .qty {
    padding: 4px 0;
    outline: none;
}
.woocommerce div.product form.cart .button:hover,.woocommerce ul.products li.product .button:hover {
    background: #fff;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    font-size: 22px;
}
.woocommerce ul.products li.product .price {
    margin: 0;
    font-size: 18px;
}
.woocommerce ul.products li.product .button {
    margin-top: 5px;
}
.woocommerce div.product .product_title {
    color: #00793a;
}

.woocommerce-product-details__short-description ul {
    padding-left: 20px;
    list-style: none;
}

.woocommerce-product-details__short-description ul li {
    position: relative;
}
.woocommerce-product-details__short-description ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #ffd100;
    position: absolute;
    left: -15px;
    top: 6px;
    border-radius: 50%;
}
.product_image {
    width: 80%;
    margin: auto;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    width: 20%;
}
.woocommerce-product-details__short-description {
    margin: 20px 0;
}
h1.woocommerce-products-header__title.page-title {
    margin-bottom: 30px;
    color: #00793a;
}
.contact_form input,.contact_form textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
nav.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li.woocommerce-MyAccount-navigation-link {
    background: #03793d;
    padding: 10px;
    margin-bottom: 2px;
}

li.woocommerce-MyAccount-navigation-link a {
    color: #fff;
    display: block;
}

li.woocommerce-MyAccount-navigation-link.is-active {
    background: #ffd100;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 30px;
}